
:root{
	--mainColor:#5F9EA0;
	--secondaryColor:#023020;

	--borderColor:#1d1520;

	--mainText:#fff;
	--secondaryText:#dbdbdb;

	--themeDotBorder:#FFF;

	--previewBg:rgb(29, 21, 32, 0.8);
	--previewShadow:#5F8575;


	--buttonColor:#000000;


}