  
:root{
	--mainColor:#505050;
	--secondaryColor:#808080;

	--borderColor:#161914;

	--mainText:#ffffff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(220,220,220, 0.8);
	--previewShadow:	#000000;


	--buttonColor:	#000000;


}